Source: releng-tools
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-python,
               python3
Standards-Version: 4.7.0
Vcs-Browser: https://github.com/furilabs/releng-tools
Vcs-Git: https://github.com/furilabs/releng-tools.git

Package: releng-tools
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-git,
         git,
         git-lfs,
         findutils,
         equivs,
         devscripts,
Description: Release engineering tools for furios
 This package contains various tools related to furios's
 release engineering processes.
